.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-image {
    width: 50%;
    max-width: 400px;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
  }
  
  .welcome-card {
    width: 50%;
    max-width: 600px;
    margin-left: 20px;
    padding: 50px;
    font-family: 'Raleway';
    padding: 30px;
    width: 100vh;
    border-radius: 10px;
    margin: 20px;
  }
  
  @media (max-width: 768px) {
    .welcome-container {
      flex-direction: column;
    }
    
    .profile-image {
      width: 80%;
      margin-bottom: 20px;
    }
    
    .welcome-card {
      width: 80%;
      margin-left: 0;
    }
  }
  