@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,900;1,400;1,500;1,600;1,900&display=swap');


body {
  background: linear-gradient(to left, #f5def0, #e7ffb0, #def6fc);
  background-size: 600% 600%;
  animation: whirly 20s ease infinite;
  font-family: 'Raleway';
}

@keyframes whirly {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}